#header {
    display: flex;
    height: 85px;
    box-shadow: 0px 0.5px 5px 5px #888888;
    position: relative;
    background-color: white;
}
#header > image {
    margin: auto;
    user-select: none;
    height: 60px;
    width: 200px;
}
#header > form {
    margin: auto;
}
#body {
    margin: 0px;
}
#divParent1 {
    display: flex;
    height: 230px;
    background-color: #ffffff;
}
#picture1 {
    margin: auto;
    width: 200px;
    height: 200px;
}
.imgs1 {
    width: 40px;
    height: 40px;
}
#divParent1Child1 {
    text-align: center;
    margin: auto;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    box-shadow: 5px 5px 5px 5px #888888;
}
.divParent1Child1Class1 {
    user-select: none;
}
#divParent2 {
    display: flex;
    user-select: none;
}
#inner > div {
    display: flex;
    flex-flow: column;
    margin: auto;
    justify-content: space-around;
    width: 400px;
    height: 125px;
}
#inner2 {
    display: flex;
    flex-flow: column;
    margin: auto;
    justify-content: space-around;
    border: solid 6px #dddddd;
    border-radius: 10px;
    width: 400px;
    height: 250px;
}
#separatedUl1 {
    border: solid 6px #dddddd;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: none;
}
#separatedUl2 {
    border: solid 6px #dddddd;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: none;
}
.details {
    list-style: none;
}
