<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" http-equiv="Content-Type" content="text/html">
        <link rel="stylesheet" href="css/tmpl.css">
        <title>go with html</title>
    </head>
    <header id="header">
        <img src="./imgs/pokemonPictureBook.png" id="image">
        <form id="form" action="http://127.0.0.1:1323/getdatumById" method="get" enctype="application/x-www-form-urlencoded">
            図鑑No.
            <input type="text" name="number">
            <input type="submit">
        </form>
    </header>
    <body id="body">
        <div id="divParent1">
            <div id="picture1Container">
                <div class="backAndForth" onclick="before()"></div>
                <img src="./imgs/pokemonImgs/pokemon{{ .id }}.png" id="picture1">
                <div class="backAndForth"></div>
            </div>
            <div id="divParent1Child1">
                <h2 class="divParent1Child1Class1">{{ .pokemonNameEn }}</h2>
                <h2 class="divParent1Child1Class1">{{ .pokemonNameJa }}</h2>
                <h3 class="divParent1Child1Class1" id="id">図鑑No.{{ .id }}</h3>
                <div id="divParent1Child1Id1">
                    <img src="./imgs/male.png" class="imgs1">
                    <img src="./imgs/female.png" class="imgs1">
                </div>
            </div>
        </div>
        <hr>
        <div id="divParent2"> 
            <ul id="inner">
                <div id="separatedUl1">
                    <li class="details">分類: {{ .genus }}</li>
                    <li class="details">高さ: {{ .height }}m 重さ: {{ .weight }}kg</li>
                </div>
                <div id="separatedUl2">
                    {{ if .ability1 }}
                    <li class="details">特性1: {{ .ability1 }}</li>
                    {{ end }}
                    {{ if .ability2 }}
                    <li class="details">特性2: {{ .ability2 }}</li>
                    {{ end }}
                    {{ if .ability3 }}
                    <li class="details">特性3: {{ .ability3 }}</li>
                    {{ end }}
                </div>
            </ul>
            <ul id="inner2">
                <li class="details">HP: {{ .hp }}</li>
                <li class="details">こうげき: {{ .attack }}</li>
                <li class="details">ぼうぎょ: {{ .block }}</li>
                <li class="details">とくこう: {{ .contact }}</li>
                <li class="details">とくぼう: {{ .defence }}</li>
                <li class="details">すばやさ: {{ .speed }}</li>
            </ul>
        </div>
        <hr>
        <div id="divParent3">
            {{ if .text1 }}
            <p>{{ .text1 }}(ポケモン{{ .textVersion1 }}より)</p>
            {{ end }}
            {{ if .text2 }}
            <p>{{ .text2 }}(ポケモン{{ .textVersion2 }}より)</p>
            {{ end }}
            {{ if .text3 }}
            <p>{{ .text3 }}(ポケモン{{ .textVersion3 }}より)</p>
            {{ end }}
            {{ if .text4 }}
            <p>{{ .text4 }}(ポケモン{{ .textVersion4 }}より)</p>
            {{ end }}
            {{ if .text5 }}
            <p>{{ .text5 }}(ポケモン{{ .textVersion5 }}より)</p>
            {{ end }}
            {{ if .text6 }}
            <p>{{ .text6 }}(ポケモン{{ .textVersion6 }}より)</p>
            {{ end }}
            {{ if .text7 }}
            <p>{{ .text7 }}(ポケモン{{ .textVersion7 }}より)</p>
            {{ end }}
            {{ if .text8 }}
            <p>{{ .text8 }}(ポケモン{{ .textVersion8 }}より)</p>
            {{ end }}
            {{ if .text9 }}
            <p>{{ .text9 }}(ポケモン{{ .textVersion9 }}より)</p>
            {{ end }}
            {{ if .text10 }}
            <p>{{ .text10 }}(ポケモン{{ .textVersion10 }}より)</p>
            {{ end }}
            {{ if .text11 }}
            <p>{{ .text11 }}(ポケモン{{ .textVersion11 }}より)</p>
            {{ end }}
        </div>
        <div>
            {{ if .type1 }}
            <p>{{ .type1 }}</p>
            {{ end }}
            {{ if eq .type1 "ノーマル" }}
            <!-- <img src="./imgs/female.png"> -->
            {{ end }}
            {{ if .type2 }}
            <p>{{ .type2 }}</p>
            {{ end }}
        </div>
        <script src="./js/tmpl.js"></script>
    </body>
</html>